/* TODO: Make it awesome */

nav {
  float: right;
  margin-right:10%;
  margin-top: -22px;
}

nav li {
  display: inline-block;
  margin-bottom: 39px;
}

h1 {
  font-family: 'Titan One', cursive;
  font-size: 2em;
  color: #9E2A2B;
  padding-top: 10px;
}

header {
  background-color: #FFCF99;
  height: 55px;
  text-align: center;
}

section header {
  background-color: #FFF8F0;
}

body {
  font-family: 'Didact Gothic', sans-serif;
  background-color: #FFF8F0;
}
/* raisin black: #1E1E24
    floral white: #FFF8F0
    peach-orange: #FFCF99
    red-brown: #9E2A2B
    oxford blue: #111D4A */